<% modal ||= false %>
<%= form_for(:session,
             url: login_path,
             remote: modal,
             html: { role: :form,
                     id: 'new_session' }) do |f| %>

    <div class="form-group">
      <%= f.label :email, class: 'control-label' %>
      <div class="input-group">
        <span class="input-group-addon input-group-label">
          <i class="glyphicon glyphicon-user"></i>
        </span>
        <span class="input-group-addon input-group-field">
          <%= f.email_field :email,
                            class: 'form-control',
                            placeholder: 'email',
                            required: true %>
        </span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'control-label' %>
      <div class="input-group">
        <span class="input-group-addon input-group-label">
          <i class="glyphicon glyphicon-eye-open"></i>
        </span>
        <span class="input-group-addon input-group-field">
          <%= f.password_field :password,
                               class: 'form-control',
                               placeholder: 'password',
                               required: true %>
        </span>
      </div>
    </div>

    <%= f.submit 'Log In', class: 'btn btn-block btn-success' %>
<% end %>
