<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(:session, url: login_path, remote: remote, html: { role: :form,
                                                                id: 'new_session' }) do |f| %>

    <div class="form-group">
      <%= f.label :email, class: 'control-label' do %>
          Email <i class="glyphicon glyphicon-user"></i>
      <% end %>
      <%= f.email_field :email, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'control-label' do %>
          Password <i class="glyphicon glyphicon-eye-open"></i>
      <% end %>
      <%= f.password_field :password, class: 'form-control', required: true %>
    </div>

    <%= f.submit 'Log In', class: 'btn btn-block btn-success' %>
<% end %>


