<div class="row white-font">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Edit Post
      <div class='pull-right'>
        <%= link_to blog_path(@blog), class: 'btn btn-primary' do %>
            <i class='glyphicon glyphicon-check'></i>
        <% end %>
        <%= link_to blogs_path, class: 'btn btn-default' do %>
            <i class='glyphicon glyphicon-home'></i>
        <% end %>
      </div>
    </h2>
    <%= form_for(@blog, class: 'form-horizontal') do |f| %>
      <%= render partial: 'form', locals: { f: f, blog: @blog } %>
        <%= f.submit 'Update Post', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
